* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.2s;
}

body {
  color: white;
  margin: 0;
  opacity: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  opacity: 1;
  background-color: #15202b;
}

.btn--primary {
  border: none;
  border-radius: 25px;
  font-weight: 700;
  background-color: #1da1f2;
  color: #fff;
}

.btn--secondary {
  border-radius: 25px;
  border: 1px solid #1da1f2;
  font-weight: 700;
  background: none;
  color: #1da1f2;
}
.btn--primary:hover {
  background-color: #1a91da;
  cursor: pointer;
}

.btn--secondary:hover {
  background-color: #192734;
  cursor: pointer;
}